@model Ecomm.Catalog.Data.Product

@{
    ViewBag.Title = Model.Name;
}

<div class="row">
    <div class="col-md-6">
        <img class="image" src="@Url.Content("~/Content/Images/noImg.jpg")"/>
    </div>
    <div class="col-md-6">
        <h4>@Model.Name</h4>
        <p>@Model.ShortDescription</p>
        <p>
            <span class="price">@Model.UnitPrice.ToString("##,###.00")</span>
            +
            <span class="tax">@Model.TaxRatio.ToString("P0")</span>
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        @Model.LongDescription
    </div>
</div>
